<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<h3>Add new user</h3>

<form th:method="post" th:action="@{/admin/addNewUser}" th:object="${user}">
    <label for="firstName">Enter first name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <br/>
    <label for="lastName">Enter last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <div>
        <label for="roleSelect">Roles:</label>
        <select id="roleSelect" name="roles" th:field="*{roles}" multiple>
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.role}">
            </option>
        </select>
    </div>
    <input type="submit" value="Add">
</form>
<form>
    <input class="position" type="button" value="Logout" onclick=location.href="/logout">
</form>

</body>
</html>