<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h3>Edit chosen user</h3>
<form th:method="post" th:action="@{/admin/editUser}" th:object="${user}">
    <label for="id">Id:</label>
    <input type="hidden" th:field="*{id}" id="id"/>
    <input type="text" th:field="*{id}" disabled/>
    <br/>
    <br/>
    <label for="firstName">First name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <br/>
    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="age">Age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <div>
        <label for="roleSelect">Roles:</label>
        <select id="roleSelect" name="roles" th:field="*{roles}" multiple>
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.role}">
            </option>
        </select>
    </div>
    <input type="submit" value="Save changes">
    <br/>
    <br/>
</form>
<form>
    <input class="position" type="button" value="Logout" onclick=location.href="/logout">
</form>
</body>
</html>